<!DOCTYPE html>
<html>

	<head>
		<title>{{ name }} </title>

		<!--Bootstrap-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

		<!--JQuery-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!--JavaScript Bootstrap-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!--Google Charts-->
		<script src="https://www.gstatic.com/charts/loader.js"></script>

		<!-- In-house stuff -->

		<link rel="stylesheet" href="https://my-poll-app.herokuapp.com/Polls/Polls.css">

		<script>
			var stuff = [],
				numbers = {}; 
				
				{% set i = 0 %}
				
				{% for name, votes in options %} 
				  stuff.push(["{{ name }}", {{ votes }}]);
				  numbers["{{ name }}"] = {{i}}; 
				  {% set i = i + 1 %}
				{% endfor %}
		</script>

		<script src='https://my-poll-app.herokuapp.com/Polls/Polls.js'></script>

		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<div class="col-xs-12" style="background-color:#bee4f3; border-radius: 13px">
			<div class="col-xs-6 col-sm-8 col-md-8 col-lg-10 col-xl-10 text-left navtext" id="name">
				<p class="false-header go-home">Voting app</p>
			</div>
			<div class="col-xs-3 col-sm-2 col-md-2 col-lg-1 col-xl-1 navtext go-home" style="background-color: #93d2eb;" id="home">
				<p class="false-header">Home</p>
			</div>
			<div class="col-xs-3 col-sm-2 col-md-2 col-lg-1 col-xl-1 navtext" id="user">
				<p id="user2">Sign in</p>
			</div>
		</div>

		<br>

		<div style="background-color: #d4edf7; border-radius: 10px; margin: 35px 7%;" id="myChart">
			<p class="false-header navtext">{{ name }}</p>
			<div class="text-center">
			  <button class="btn" id="delete">Delete?</button>
			</div>
			<p id="success"></p>
			<div class="form">
				{% for name, votes in options %}
				<p class="option unclicked">{{ name }}</p>
				{% else %}
				<p> {{ failMsg }}</p>
				{% endfor %} {% if found %}
				<p id="author"> Created by {{ user }}</p>
				<form id="newOpt" style="display:none">
					<p class="add-new">Don't like any of these options? Create your own! </p>
					<input type="text" placeholder="Input new option here" id="possibleOpt">
					<input type="submit" value="Make new option">
					<br>
				</form>
			</div>
			<p class="submit false-header">Submit</p>
		</div>
		{% endif %}
		</div>
	</body>

</html>